html {
    background-image: url('../img/bg1.jpg');
}
body {
    margin: auto;
    max-width: 800px;
    border: 5px solid yellow;
    font-family: Segoe UI Light;
}
.menu {
    background-color: yellow;
    color: black;
    padding: 10px;
}
    .menu a {
        text-decoration: none;
        color: black;
        font-weight:bold;
    }
.footer {
    background: yellow;
    text-align: center;
    color: black;
    padding: 20px;
    font-weight:bold;
}
.content {
    padding: 20px;
}

.cover {
    height: 290px;
    background: #333;
    background-image: url('../img/banner.jpg');
    background-size: cover;
}

.thumb {
    font-size: 0;
    text-align: center;
}

    .thumb > p {
        width: 350px;
        height: 240px;
        background-size: cover;
        position: relative;
        margin: 5px;
        display: inline-block;
    }

        .thumb > p > a {
            background: #ff0c;
            display: block;
            position: absolute;
            bottom: 20px;
            right: 0;
            padding: 10px 20px;
            text-decoration: none;
            color: black;
            font-size: 12pt;
        }