* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

.fixed {
    position: fixed;
    background-color: black;
    color: white;
    z-index: 1;
    display: block;
    width: 100%;
    
    font-weight: bold;
    padding: 10px;
}

.block {
    text-align: center;
    background: #c0c0c0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    background-image: url('../img/bg3.jpg');
}

.centered,.centeredDefault {
    display: inline-block;
    vertical-align: middle;
    width: 700px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -350px;
    border: #a0a0a0 solid 1px;
    background: #f5f5f5;
    background-image: url('../img/bg_if.jpg');
    background-size: cover;
}
.centeredDefault {
    background-image: url('../img/bg3.jpg');
    background-size: unset;
    box-shadow: 1px 1px 3px #666;
    width: 400px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -200px;
}

input, select, textarea {
    border: 1px solid #5f80b3;
    margin: 2px;
    padding: 2px;
    box-shadow: 1px 1px 3px #999;
}

h3 {
    font-weight: normal;
    text-shadow: 1px 1px 3px #999;
    margin-left: 137px;
}

